/* Base styles for the header */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #000000;
    color: white;
    position: relative;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;

}


/* Logo container with text and logo alignment */
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    cursor: pointer;
    width: 75px;
    height: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.company-name {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    line-height: 1;
    color: white;
}

